<p-menubar>
    <ng-template pTemplate="start">
        <img style="margin: 10px;" src="/assets/pictures/xpl_rgb-normal2x.png" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <button class="addnew" style="margin: 10px;" pButton pRipple label="Sukurti naują vartotoją" icon="pi pi-user-plus" (click)="createNewUser()"></button>
        <button class="logout" style="margin: 10px;" pButton pRipple label="Ištrinti egzistuojanti vartotoją" icon="pi pi-trash" (click)="deleteUser()"></button>
        <button class="logout" style="margin: 10px;" pButton icon="pi pi-power-off" label="Atsijungti" (click)="logout()"  ></button>
        <!-- <button class="logout" style="margin: 10px;" pButton icon="pi pi-power-off" label="check" (click)="menuDisplay()"  ></button> -->
    </ng-template>l
</p-menubar>
<p-toast></p-toast>
<div class="center-box"style="padding: 1%;">    
    <p-toolbar>
        <ng-template pTemplate="left">
            <button style="margin: 10px;" pButton pRipple label="Naujas kandidatas" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewCandidateForm()"></button>
            <button style="margin: 10px;" pButton pRipple label="Nauja technologija" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewTechnologyForm()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <p-fileUpload  #form name="myfile[]" mode="basic" chooseLabel="Importuoti" [customUpload]="true"
            accept=".xlsx" [maxFileSize]="1000000" (uploadHandler)="myUploader($event)"></p-fileUpload>
        </ng-template>
    </p-toolbar>

    <p-table [value]="candidates"
    [paginator]="true" 
    [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Rodomas {first} lapas iš {last} lapų. Iš viso kandidatų: {totalRecords}"
    [rowsPerPageOptions]="[10,25,50]">
    <ng-template  pTemplate="header">
        <td colspan="9"><p-progressBar [hidden]="hid" mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar></td>
        <tr>
            <th>Kada buvo paskutini kartą susisiekta?</th>
            <th>
                Vardas
                <p-columnFilter type="text" field="firstName" display="menu" placeholder="Vardas"
                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
            </th>
            <th>
                Pavardė
                <p-columnFilter type="text" field="lastName" display="menu" placeholder="Pavardė"
                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
            </th>
            <th>LinkedIn nuoroda</th>
            <th>Komentaras</th>
            <th>
                Technologijos
                <p-columnFilter matchMode="custom-filter" field="technologies"  display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    <ng-template pTemplate="header">
                        <div style="padding: 10px; font-weight: bold;">
                            Technologijos
                        </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="technologies" (onChange)="filter($event.value)" optionLabel="title" >
                            <ng-template let-option pTemplate="tech">
                                <div>
                                    <span >{{option.title}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>Kada reikia susisiekti?</th>
            <th style="width: 8rem">
                <div >
                    Atviras pasiūlymams?
                    <div style="padding: 5px;">
                        <p-columnFilter type="boolean" field="openForSuggestions"></p-columnFilter>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-candidate>
        <tr>
            <td>{{candidate.datesOfPastCallsDisplay}}</td>
            <td>{{candidate.firstName}}</td>
            <td>{{candidate.lastName}}</td>
            <td><a href="{{candidate.linkedIn}}" target="_blank">{{candidate.linkedIn}}</a></td>
            <td>{{candidate.comment}}</td>
            <td>{{candidate.technologyDisplay}}</td>
            <td>{{candidate.dateOfFutureCall}}</td>
            <td style="width: 8rem">
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': candidate.openForSuggestions, 'false-icon pi-times-circle': !candidate.openForSuggestions}"></i>
            </td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success " (click)="updateCandidateForm(candidate)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteCandidate(candidate)"></button>
                <button pButton pRipple icon="pi pi-briefcase" class="p-button-rounded p-button-info" (click)="generateOffer(candidate)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        
        <tr>
            <td colspan="9"><h1 style="text-align: Center;">Nėra duomenų :(</h1></td>
        </tr>
    </ng-template>
</p-table>
</div>

<p-dialog [(visible)]="createCandidateDialog" [style]="{width: '450px'}" header="Kandidato duomenys" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-table-new-entry-page [existingCandidates]="candidates"></app-table-new-entry-page>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="updateCandidateDialog" [style]="{width: '450px'}" header="Kandidato duomenys" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-table-new-entry-page [candidate]="candidateToEdit"></app-table-new-entry-page>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="createTechnologyDialog" [style]="{width: '450px'}" header="Technologija" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-new-technology></app-new-technology>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="newUserDialog" [style]="{width: '450px'}" header="Create new user" [modal]="true" styleClass="p-fluid">
    <form #createForm="ngForm" (ngSubmit)="create(createForm)">
        <div>
            <input id="email" name="email" type="email" ngModel pInputText class="p-inputtext-sm" placeholder="e-mail" required>
            <br>
            <br>
            <input id="password" name="password" type="password" ngModel pInputText class="p-inputtext-sm" placeholder="Password" required>
            <br>
            <br>
            <p-button type="submit" class="button-split" label="Create" styleClass="p-button-sm"></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" [style]="{width: '450px'}" header="Delete existing user" [modal]="true" styleClass="p-fluid">
    <form #deleteForm="ngForm" (ngSubmit)="delete(deleteForm)">
        <div>
            <br>
            <input id="email" name="email" type="email" ngModel pInputText class="p-inputtext-sm" placeholder="e-mail" required>
            <br>
            <br>
            <p-button type="submit" class="button-split" label="Delete" styleClass="p-button-sm"></p-button>
        </div>
    </form>
</p-dialog>
