.center-box{
    background-color: rgb(236, 236, 236);
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: -1px 5px 15px 5px rgba(0,0,0,0.07);
}
.true-icon{
    color: green;
}
.false-icon{
    color: red;
}
.p-button-rounded{
    margin: 5px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.space-buttons{
    padding: 5px;
}
.logout:hover{
    background-color: red;
    border-color: red;
}
.addnew:hover{
    background-color: rgb(8, 189, 23);
    border-color: rgb(8, 189, 23);
}
